@page "/"

<div class="row">
    <p>Bienvenido(a) al sitio oficial del Sindicato Nacional Presidente Adolfo López Mateos, Delegación Puebla, FROC-CONLABOR, Titular del Contrato Colectivo de Trabajo de la Universidad Tecnológica de Puebla.</p>

</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 5"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="images/carrusel1.png" class="d-block w-100" alt="imagen1">
          
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/carrusel2.png" class="d-block w-100" alt="imagen2">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/carrusel3.png" class="d-block w-100" alt="imagen3">
           
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/carrusel4.png" class="d-block w-100" alt="imagen4">

        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/Logo2.png" class="d-block w-100" alt="imagen4">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


