@page "/normativity"
<body>
    <h3>Normatividad</h3>
    <div class="row">
        <div class="col-md-2">
            <a href="pdf/CodigoEtica2021.pdf" id="boton" target="_blank" class="btn">Codigo de conducta</a>
        </div>
        <div class="col-md-2">
            <a href="pdf/Ley_que_crea_la_Universidad_Tecnologica_de_Puebla_01122016.pdf" id="boton" target="_blank" class="btn">Ley que crea la UTP</a>
        </div>
        <div class="col-md-2">
            <a href="/pdf/CCT_ 2021.pdf" id="boton" target="_blank" class="btn">Contrato colectivo</a>
        </div>
        <div class="col-md-2">
            <a href="pdf/REGLAMENTO_ACADEMICO.pdf" id="boton" target="_blank" class="btn">Reglamento académico</a>
        </div>
        <div class="col-md-2">
            <a href="pdf/RIPPPA.pdf"  target="_blank" class="btn">RIPPA</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <h3>Reglamentos</h3>
        <select name="forma" onchange="location = this.value;" selected="false" style="font-size:25px;">
            <option selected="true" disabled="false"> Reglamentos  </option>
            <option value="https://drive.google.com/file/d/1Nb4NjYJerwMoPx-QfqPpAO0euXwn0gK3/view?usp=share_link" target="_self">REGLAMENTO DE INGRESO, PROMOCIÓN Y PERMANENCIA DEL PERSONAL ACADÉMICO</option>
            <option value="https://drive.google.com/file/d/1e3sgTvFXGiUyBiEf_MAjbOlg68Demalo/view?usp=share_link" target="_self">LEY QUE CREA LA UTP</option>
            <option value="https://drive.google.com/file/d/11Q_Vr1XQ2ldbDjYHAyKRilABU5TxoCTZ/view?usp=share_link" target="_self">REGLAMENTO INTERIOR DE UTP</option>
            <option value="https://drive.google.com/file/d/1bJx7w14djl4tSDXgnux3tyZcFT8RyTin/view?usp=share_link" target="_self">REGLAMENTO CONSEJO DIRECTIVO</option>
            <option value="https://drive.google.com/file/d/1y8QyMhpxyF5wVARl-hbJqsZjmP8q_o5y/view?usp=share_link" target="_self">REGLAMENTO PERSONAL ACADÉMICO</option>
            <option value="https://drive.google.com/file/d/1njloT-rCeY06zE56_Tr7w8xg8edNJxyH/view?usp=share_link" target="_self">REGLAMENTO BECAS</option>
            <option value="https://drive.google.com/file/d/13bJPNrcXqYyWXFchsBwn8sL9UwQAA_sw/view?usp=share_link" target="_self">REGLAMENTO RESPONSABILIDADES</option>
            <option value="https://drive.google.com/file/d/1ZLoHSsphECrUskVUFnJR8mOeTOkVnbRP/view?usp=share_link" target="_self">REGLAMENTO RECONOCIMIENTO DE ESTUDIOS</option>
            <option value="https://drive.google.com/file/d/1ooPjU-3pu3SFkabyw4ywYxnHp46oITRI/view?usp=share_link" target="_self">REGLAMENTO SERVICIO SOCIAL</option>
            <option value="https://drive.google.com/file/d/1qsi1S7Nu7Xc-UH8HPBDbHnatkp4seBGj/view?usp=share_link" target="_self">REGLAMENTO PRÁCTICAS Y ESTADÍAS</option>
            <option value="https://drive.google.com/file/d/1m4qGR0cM1Z41Y4RLL3l95Th4L4MqmanR/view?usp=share_link" target="_self">REGLAMENTO FORMACIÓN ACTUALIZACIÓN Y DESARROLLO PROFESORADO</option>
            <option value="https://drive.google.com/file/d/1aUYr_SHhi2jyRtAsQCvp-PrxskiH5UoW/view?usp=share_link" target="_self">REGLAMENTO COMITÉ ADQUISICIONES</option>
            <option value="https://drive.google.com/file/d/167UcWWH_Dxq6Re4MZgnJbuLdN8R0-a10/view?usp=share_link" target="_self">REGLAMENTO INGRESOS PROPIOS</option>
            <option value="https://drive.google.com/file/d/13DbkTcTRoA-kOchU80eYCtcqPjIFl67N/view?usp=share_link" target="_self">REGLAMENTO SERVICIOS BIBLIOTECARIOS</option>
            <option value="https://drive.google.com/file/d/1MgluThrpctKMzZMF0oFyBNQWgg_PORpD/view?usp=share_link" target="_self">REGLAMENTO CONDICIONES GENERALES DE TRABAJO</option>
            <option value="https://drive.google.com/file/d/1Uz9fBNWkpymmX_xJ7N0i2psA8-yT2Kg9/view?usp=share_link" target="_self">REGLAMENTO EDUCACIÓN CONTÍNUA</option>
            <option value="https://drive.google.com/file/d/1AJCeE1tzMsn7Junt5JP7sjxBO3UvyHMA/view?usp=share_link" target="_self">REGLAMENTO VISITAS GUIADAS</option>
            <option value="https://drive.google.com/file/d/1iWeFUjTvf6OoQkW8f_Sr4DzOGJomBiN1/view?usp=share_link" target="_self">REGLAMENTO COMISIÓN DE PERTINENCIA</option>
            <option value="https://drive.google.com/file/d/1mneM_STc5JB1cIMhrmvzvPEZs-Itbrwh/view?usp=share_link" target="_self">REGLAMENTO ACADÉMIAS</option>
            <option value="https://drive.google.com/file/d/1TJ_dKbdZSysbpfZ5LRd78SUMWWqKLrTu/view?usp=share_link" target="_self">REGLAMENTO CONSEJO TÉCNICO</option>
            <option value="https://drive.google.com/file/d/1Zcu881ih5qjfcFpTTXa8-CP6MbVnjvM_/view?usp=share_link" target="_self">REGLAMENTO PRESEA MÉRITO ACADÉMICO</option>
            <option value="https://drive.google.com/file/d/1rC0MRgdLvMfYorENWXDj76sEcXbRLPiw/view?usp=share_link" target="_self">REGLAMENTO INSTALACIONES DEPORTIVAS</option>
            <option value="https://drive.google.com/file/d/1IcSP991TCpEYyKT-jBveGvdSpjsgscpj/view?usp=share_link" target="_self">REGLAMENTO CUERPOS ACADÉMICOS</option>
            <option value="https://drive.google.com/file/d/1i-hjicoiEUKt9JfMISX8TCoyDhfdBIHz/view?usp=share_link" target="_self">REGLAMENTO PATRONATO</option>
            <option value="https://drive.google.com/file/d/1a2zWTtWycw29DEQNXbQgpSVGOAF73eMI/view?usp=share_link" target="_self">REGLAMENTO CONSEJO DE VINCULACIÓN Y PERTINENCIA</option>
            <option value="https://drive.google.com/file/d/1zh6u4YwKigsZz0ZKFDTjFeo0i5aDpE0q/view?usp=share_link" target="_self">REGLAMENTO LABORATORIO DE GASTRONOMÍA</option>
        </select>
    </div>
</body>
@code {

}
