@page "/unionPhilosophy"
<h2>Filosofía Sindical</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#MisionVision" class="nav-link active" aria-current="page">Misión Y Visión</a>
                            </li>
                            <li class="nav-item">
                                <a href="#Valores" class="nav-link">Valores</a>
                            </li>
                            <li class="nav-item">
                                <a href="#Organigrama" class="nav-link">Organigrama</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <section id="MisionVision">
                <h3>Mision y Vision</h3>
                <p>
                    <b>
                    Misión
                    </b>
                    <br/>
                    Representar y proteger los intereses de los trabajadores, asegurando condiciones laborales justas, salarios equitativos y un entorno laboral seguro. Nos esforzamos por fortalecer la solidaridad entre los trabajadores y promover la justicia social en el ámbito laboral. Trabajamos para mejorar las condiciones de trabajo, negociar acuerdos colectivos que beneficien a nuestros miembros y proteger por sus derechos laborales, así como garantizar la dignidad de todos los trabajadores.
                    <br />
                    <b>
                    Visión
                    </b>
                    <br />
                    Nos visualizamos como una organización sindical unida que defiende los derechos, las condiciones laborales justas y la dignidad de nuestros miembros. Perseveramos para que el trabajo sea valorado y recompensado de manera justa, donde los trabajadores tengan un poder significativo para influir en las decisiones colectivas. Buscamos promover la solidaridad entre los trabajadores, fomentar la justicia social y trabajar en colaboración con otras organizaciones afines para alcanzar nuestros objetivos comunes
                </p>
            </section>
            
        </div>
        <div class="row" id="Valores">
            <h3>Valores</h3>
            <p>
                <b>Respeto</b>concepto fundamental en las relaciones humanas que se refiere a reconocer, valorar y considerar los derechos, las opiniones, las creencias, los límites y la dignidad de las personas. Se trata de una actitud de consideración y aceptación hacia los demás, independientemente de sus diferencias, y de tratar a los demás con cortesía, amabilidad y tolerancia.

                Es un valor fundamental en la convivencia social y es esencial para construir relaciones saludables y armoniosas tanto a nivel personal como en la sociedad en su conjunto.

                <b>Honestidad</b> fortalece la confianza mutua, lo que permite a los miembros sindicales sentirse seguros y respaldados. Una organización sindical honesta actúa con integridad, evitando la corrupción y la manipulación de información, y se compromete a representar fielmente los intereses de sus miembros.

                <b>Integridad</b> Implica actuar de manera ética y coherente con los valores y principios laborales establecidos. Una organización sindical íntegra se compromete a representar de manera justa y equitativa los intereses de sus miembros, sin comprometer su independencia ni permitir influencias indebidas. Los líderes sindicales íntegros toman decisiones basadas en principios éticos y se esfuerzan por defender los derechos y la justicia laboral.

                <b>Justicia</b> se refiere a la creencia y reconocimiento de que todas las personas tienen derecho a ser tratadas de manera equitativa y recibir un trato justo. Implica la idea de igualdad de oportunidades y derechos para todos los individuos, sin importar su origen étnico, género, religión, orientación sexual, nivel socioeconómico o cualquier otra característica personal.

            </p>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <p id="Organigrama">ORGANIGRAMA</p>
                </div>
                <div class="col-md-12">
                    <p id="Comision">COMISIÓN SINDICAL DE TRANSICIÓN</p>
                </div>
                <div class="col-md-12">
                    <p id="tercerParrafo">
                        Sindicato Nacional Presidente Adolfo López Mateos, 
                        Delegación Puebla de la Universidad Tecnológica de Puebla.
                    </p>
                </div>
                <div class="col-md-6 circulo">
                    <img src="/images/fotoperfil.png" />
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
       @* <div class="row" id="Organigrama">
            <h3>Organigrama</h3>
            <img src="/images/organigrama.png" />
        </div>*@
    </div>
</div>

@code {

}
